.appointments {
    margin: 0 auto 5rem auto;
    background-color: var(--main-background);
}

.appointment__list {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 1rem;
}

.today__title, .tomorrow__title, .day__title {
    margin-left: 1rem;
    font-size: 16px;
    font-weight: 700;
}

.appointment__item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
    background-color: var(--primary-white);
    backdrop-filter: blur(11px);
    border-radius: 8px;
    flex-grow: 1;
}

.appointment__container {
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.appointment__name {
    font-family: var(--main-font);
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-gray);
}

.appointment__icon--chat {
    background-image: url("../img/chat-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 32px;
    background-color: var(--icon-bg);
    width: 32px;
    margin: 0 0 0 auto;
    border-radius: 18px;
}
.appointment__info {
    display: flex;
    justify-content: space-between;
}

.appointment__avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.appointment__type--remote {
    font-size: 12px;
    font-weight: 400;
    color: var(--second-white);
}

.appointment__type--remote::before {
    content: " ";
    display: inline-block;
    background-image: url("../img/Camera.svg");
    background-repeat: no-repeat;
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.appointment__type--local {
    font-size: 12px;
    font-weight: 400;
    color: var(--second-white);
}

.appointment__type--local::before {
    content: " ";
    display: inline-block;
    background-image: url("../img/pin.svg");
    background-repeat: no-repeat;
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.appointment__divisor {
    width: 100%;
    height: 1px;
    background-color: var(--primary-gray);
    opacity: 0.1;
}

.appointment__time {
    margin: 0.5rem 0 0rem 1rem;
    color: var(--primary-gray);
    font-size: 12px;
    font-weight: 500;
}

.appointment__container--buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem 1rem 1rem 1rem;
    gap: 1.25rem;
}

.appointment__video {
    font-size: 15px;
    font-weight: 500;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-orange);
    color: var(--primary-white);
    border: none;
    box-shadow: 0px 4px 16px rgba(255, 176, 80, 0.16);
    cursor: pointer;
}

.appointment__audio {
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-white);
    border: 1px solid #ECECEC;
    color: var(--primary-black);
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.appointment__address {
    background-color: #4894FF;
    color: var(--primary-white);
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

