.extra__list {
    display: flex;
    gap: 1rem;
    margin: 0 0.5rem;
    position: fixed;
    flex-direction: column;
    align-items: end;
    bottom: 5rem;
    right: 1rem;
}

.extra {
        z-index: 100;
        width: 100%;
        position: fixed;
        background: #00000099;
        height: inherit;
        bottom: 0;
}

.extra__item--collapsed {
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 0;
}

input[name="more-tab"]:checked~ul > .extra__item--collapsed {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    pointer-events: auto;
    cursor: pointer;
}

.extra__item--description {
    font-size: 12px;
    padding: 0.5rem;
    color: var(--primary-gray);
    background-color: var(--primary-white);
    border-radius: 20px;
}

.extra__item--description:nth-child(1) {
    flex-shrink: 6;
}

input[id=toggle-more] {
    display: none;
}

.button__toggle {
    display: block;
    background:no-repeat  url('../img/more.svg');
    width: 60px;
    height: 56px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0 3px 6px #4894FF90);
} 



.extra__item--video {
    display: inline-block;
    background:no-repeat  url('../img/video-call.svg');
    width: 64px;
    height: 56px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0 3px 6px #4894FF90);
}

.extra__item--local {
    background:no-repeat  url('../img/local-appoint.svg');
    width: 64px;
    height: 56px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0 3px 6px #4894FF90);
}

.container-buttons {
    display: flex;
    align-items: center;
    justify-content: start;
}

.extra--blur {
    height: 100%;
}

@media screen and (min-width:320px) { } @media screen and (min-width:480px) { } @media screen and (min-width:600px) { } @media screen and (min-width:768px) { } @media screen and (min-width:992px) { } 
