@media only screen and (min-width: 768px){
    .appointment__list li.appointment__item:nth-child(3) {
        flex-grow: 0;
        flex-basis: calc(50% - 0.5rem);
    }

    .extra {
        display: none;
    }
}

@media only screen and (min-width: 1024px){
    .main-header {
        padding: 0 2.5rem;
    }

    .appointments {
        box-sizing: border-box;
        padding: 0 2.5rem;
    }

    .appointment__item {
        flex-basis: 40%;
    }
    .appointment__list li.appointment__item:nth-child(3) {
        flex-grow: 0;
        flex-basis: calc(50% - 0.5rem);
    }

    .appointment__list li.appointment__item:nth-child(4) {
        flex-grow: 0;
        flex-basis:calc(50% - 0.5rem);
    }

    div.sidebar {
        display: block;
        position: fixed;
        height: 100%;
        width: 160px;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: var(--primary-white);
    }
    .main {
        margin-left: 160px
    }

    .main-header {
        padding: 0 12rem;
    }  

    section.form {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0rem 3.5rem 2rem 3.5rem;
    }  

    .footer {
        display: none;
    }
}

@media only screen and (min-width: 1440px) {
    .appointment__item {
        flex-basis: 30%;
    }
    .appointment__list li.appointment__item:nth-child(3) {
        flex-grow: 0;
        flex-basis: calc(30%);
    }

    .appointment__list li.appointment__item:nth-child(4) {
        flex-grow: 0;
        flex-basis: calc(34%);
    }
}
